.App {
  text-align: center;
}

.Title {
  margin-left: 5%;
  margin-right: 5%;
  color: rgb(14, 152, 173);
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(14, 152, 173);
  text-align: left;
  padding: 20px;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.AllArticles {
  /* width: 50%; */
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px; /* just changed this one from 10 px*/
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(14, 152, 173);
  padding: 10px;
}

.ArticlesByTopic {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(14, 152, 173);
  padding: 10px;
}

a:link {
  text-decoration: none; /* no underline */
}

.ArticleCards {
  color: black;
  display: flexbox;
  padding: 10px;
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(255, 201, 54);
  text-align: left;
}
