.App {
  text-align: center;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.Title {
  color: rgb(14, 152, 173);
  text-align: left;
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(14, 152, 173);
  text-align: left;
  padding: 20px;
}

.AllArticles {
  /* width: 50%; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 10px;
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(14, 152, 173);
  padding: 10px;
}

.ArticleCards {
  display: flexbox;
  padding: 10px;
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(255, 201, 54);
  text-align: left;
}
